/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Oswald:wght@200;300&display=swap');

body {
    font-family: 'Oswald', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Courgette', cursive;
}

/* ======================== HEADER ====================== */

.header {
    background-image: url('../img/header.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    height: 500px;
    z-index: 1;
    color: #fff;
    filter: brightness(1.75);
    
}

.opacity {
    opacity: 0.9;
    height: 500px;
}

.header img{
    width: 70px;
}

nav {
    height: 60px;
}

.navbar-brand {
    font-family: 'Courgette', cursive;
    font-size: 2rem;
}

/* ======================== FOOTER ====================== */

.footer a {
    color: #fff;
}

/* ======================== RESPONSIVE ====================== */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .contact-hidden {
        display: none;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .contact-hidden {
        display: none;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
   
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}