.header {
    background-image: url('../img/team/team.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    height: 450px;
    z-index: 1;
    color: #fff;
    filter: brightness(1.75);
    
}